.topBoxArt {
  width: auto;
  height: 40vh;
  margin: auto;

}

.topSection {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background-image: url("http://lorempixel.com/400/200");
  background-size: cover;
  background-position: center;
  }

.logo {
  font-family: 'Ravi Prakash', cursive;
}

.HF {
  background-color: #455a64
}
